:root {
  --main-background-color: #ffffff;
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.link,
.list {
  text-decoration: none;
  list-style: none;
}
/* Шапка */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.main-logo {
  color: var(--main-title-color);
}
.nav-menu {
  font-weight: 500;
  color: var(--main-title-color);
}
.feedback-menu {
  font-style: normal;
  color: var(--main-text-color);
}
/* Index */
.hero {
  background-color: var(--main-title-color);
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  color: #ffffff;
}
.main-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.skill-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.minor-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-section {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
}
.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
/* Portfolio */
.btn-menu {
  background-color: #f4f4fd;
  color: #4d5ae5;
}
.btn-menu:hover,
.btn-menu:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}
/* Footer */
footer {
  background-color: var(--main-title-color);
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
.examples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
}
