:root {
  --main-background-color: #ffffff;
  --main-text-color: #434455;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.link,
.list {
  text-decoration: none;
  list-style: none;
}
/* Шапка */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.main-logo {
  color: #2e2f42;
}
.nav-menu {
  font-weight: 500;
  color: #2e2f42;
}
.menu-feedback {
  font-style: normal;
  color: var(--main-text-color);
}
/* Index */

/* Portfolio */
.btn-menu {
  background-color: #f4f4fd;
  color: #4d5ae5;
}
.btn-menu:hover,
.btn-menu:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* Footer */
footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
